.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

.cart-box {
    width: 80%;
    padding: 10px;
    margin-bottom: 40px;
    height:max-content
    
}

.heads {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 40px; 
}
.heads>:nth-child(3){
    margin-left: -1rem;
}

.heads > span {
    font-weight: bold;
    text-align: center;
}


.cart-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 40px; /* Adjusted margin-bottom to 30px */
    position: relative;
    padding-left: 5%;
}

.cart-item > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}
.cart-item>:nth-child(3){
    margin-left: 2rem;
}
.cart-item>:nth-child(4){
    margin-left: 2rem;
    
}
.cart-item>:nth-child(5){
    margin-left: 2.5rem;
    
}
.hh{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 490px;
}
.bb{
    background-color: rgb(244, 84, 84);
    color: white;
    border: none;
    height:20px;
    width:4rem;
    border-radius: 1rem;
    margin-left: 2rem;
}

.cart-item > .line {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ccc;
}

.cart-bottom {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-total {
    font-weight: bold;
}

.promo input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    flex-direction: column;

}
.promo>:first-child{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4rem;
    font-size: 35px;
}
.pro-input{
    height: 30px;
    width:80%;
    border-radius: 2rem;
    border: 1px solid rgb(223, 222, 222);
    margin-top: 1rem;
    margin-bottom: 2rem;
}
